version: "3.9"
services:
  db:
    image: postgres:15
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: minihackme
      POSTGRES_PASSWORD: minihackme
      POSTGRES_DB: minihackme
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
